
/* Header/Logo Title */
.header {
padding: 0.9px;
text-align: center;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(black,red);
color: white;
font-size: 10px;
position: fixed;
z-index: 5;
width: 100%;
height: 6%;
}
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
.navbar {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(darkred, orange);
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  z-index:10;
  top:4%;
  left: 0;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a.navbar-brand {
  float: left;
  position:absolute;
  top:1%;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
.navbar .navbar-toggler {
  display: none;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: white;
  background: url("https://i.pinimg.com/originals/86/66/85/866685bdd4bbc516ec1a13c956d4d7bf.jpg") no-repeat center center;
  background-size: cover;
}
.container {
  position: relative;
  height: 100vh;
  color: #fff;
  background-size: cover;
  width: 100%;
}
.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}
#equipo { background-color: #e34f26; }
#estadisticas { background-color: #002561; }
#noticias { background-color: #333; }
#contacto { background-color: red; }

.video iframe {
  float:left;
 width: 70%;
 height: auto;
  margin-top:150px;
  margin-right: 5px;
}
.resena {
  background-color:black;
  float:left;
  width:29%;
  padding:15px;
  margin-top:150px;
  margin-left: 5px;
  text-align:center;

}

@media only screen and (max-width: 620px) {
    .video iframe{
    width:100%;
    height: auto;
  }
 
  .resena {
    width:100%;
    height:100%;
  padding:15px;
  margin-top:2px;
  margin-left: 5px;
  text-align:center;
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    position: absolute;
    display: block;
    height: 40px;
    top: 5px;
    right: 20px;
    z-index: 100;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
}

.footer{
	background: #444;
	color:#fff;
	text-align: center;
	padding: 10px;
}



/*botones sociales*/

/*fin de botones sociales*/

