
/* Header/redes sociales*/
.header {
padding: 0.9px;
text-align: center;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(black,red);
color: white;
font-size: 10px;
position: fixed;
z-index: 5;
width: 100%;
height: 6%;
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
  color:white;
}

#l2{
  float:left
}

.social-icons li {
  font-size: 1.9em;
  padding: 0.5em;
}

 li{
  display:list-item;
  xlist-style:none;
}

#l2 li{
  display: inline;
}

#l2{
  margin-left:1100px;
  margin-top:1px;
}
/*fin de redes y header*/
/*margen y estilo de la pagina*/
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'TransformersMovie';
  background-color: #fff;
  color: #333;
}

/*barra de navegacion*/
.navbar {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(darkred, orange);
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  z-index:10;
  top:4%;
  left: 0;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a.navbar-brand {
  float: left;
  position:absolute;
  top:1%;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
.navbar .navbar-toggler {
  display: none;
}
/*inicio*/
.intro {
  width: 100%;
  height: 100vh;
  background-color: white;
  background: url("https://i.pinimg.com/originals/86/66/85/866685bdd4bbc516ec1a13c956d4d7bf.jpg") no-repeat center center;
  background-size: cover;
}
.container {
  position: relative;
  height: 100vh;
  color: #fff;
  background-size: cover;
  width: 100%;
}
.container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}

/*inicio seccion equipo*/
#equipo { 
background: linear-gradient(to bottom, rgba(70,75,128,1) 0%, rgba(3,4,28,1) 58%, rgba(3,4,28,1) 100%);}

#main {
    overflow-x:scroll;
    width:100%;
}
#horizontal-scroll {
    display : inline-flex;
    padding:1px;
}
.item {
    min-width:300px;
    min-height:13px;
    padding: 5px;
}  
.item img{
  max-width:100%;
  mmax-height:100%;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
 background-color: rgba(0, 0, 0, .5);
}

/* Modal Content */
.modal-content {
  position: relative;
  top:-15%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 32%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: orange;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: darkorange;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left:20px;
  font-weight: bold;
}

img {
  margin-bottom: -4px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*fin de seccion*/

/*inicio de estadisticas*/
#estadisticas {  background: url(/static/fresultado.png) no-repeat center center;
	  background-size: cover;
	/*background: linear-gradient(to bottom, #131313 0%, #1c1c1c 9%, #2c2c2c 16%, #2b2b2b 24%, #000000 34%, #111111 40%, #474747 57%, #666666 75%, #595959 88%, #4c4c4c 100%);*/
 }
.partidos {
  float:left;
  width:55%;
  padding:0 10px;
  margin-top:10px;
  display: inline-block;
}
.partidos table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid #07145a ;
  border-style: outset;
}

.partidos th {
  text-align: center;
  padding: 8px;
  font-size:12px;
  background-color: #42075c;
}
.partidos td {
  text-align: center;
  padding: 8px;
  font-size:12px;
}

tr:nth-child(even){   font-size:12px;
 text-align: center;
background-color: rgba(170, 174, 193, .5)}
tr:nth-child(odd){   font-size:12px;
 text-align: center;
 background-color: #07145a}
 

.goles {
  float:left;
  width:20%;
  margin-top:10px;
  text-align:center;
  display: inline-block;
  margin-left:10px;
}
.goles table {
  border-style: outset;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid #07145a ;
  float:left;

}

.goles th{
  text-align: center;
  padding: 8px;
  background-color: #42075c;
  font-size:12px;

}
.goles td{
  text-align: center;
  padding: 8px;
  font-size:12px;

}

.goles tr:nth-child(even){  text-align: center;
 background-color: rgba(170, 174, 193, .5);  font-size:12px;
}
.goles tr:nth-child(odd){   font-size:12px;
 text-align: center;
 background-color: #07145a}

.asistencias {
  float:left;
  width:20%;
  margin-top:10px;
  text-align:center;
  display: inline-block;
  margin-left:10px;
}
.asistencias table {
  border-style: outset;
  border: 3px solid #07145a ;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  float:left;
}

.asistencias th  {
  text-align: center;
  padding: 5px;
  font-size:12px;
  background-color: #42075c;
}

.asistencias td {
  text-align: center;
  padding: 5px;

}

.asistencias tr:nth-child(even){  text-align: center;
 background-color: rgba(170, 174, 193, .5)}
.asistencias tr:nth-child(odd){  text-align: center;
 background-color: #07145a}

.scrollspy-gol-asis {
    position: relative;
    height: 350px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: darkred #42075c;
    scrollbar-width: thin;

}
}
.scrollspy-partido {
    position: relative;
    height: 300px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: darkred #42075c ;
    scrollbar-width: thin;
}
img.tituloresultado{
width:40%; 
height:auto;
margin-top:90px;
}
/*fin de seccion*/
/*noticias*/
#noticias { background-color: #333; }


/*fin de seccion*/

#contacto { background-color: black; }
.scrollspy-formulario {
    position: relative;
    height: 500px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: darkred #42075c ;
    scrollbar-width: thin;
}
.logo img{
  float:left;
  width:40%;
  margin-left:5%;
  margin-top:10%;
}
.formularioa {
  background-color: #C0C0C0;
  float:left;
  width:40%;
  height
  margin: 0px auto;
  border-radius: 10px;  
  padding-top: 10px;
  padding-bottom: 10px;  
  background-color: #C0C0C0; 
  padding-left: 20px;
  margin-left:10%;
  margin-top:10%;
}
input{
background-color: #fbfbfb; 
width: 408px; 
height: 40px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: darkred; 
margin-top: 10px;  
padding-left: 10px;
margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
width: 405px; 
height: 120px; 
border-radius: 5px;  
border-style: solid; 
border-width: 1px; 
border-color: #ab4493; 
margin-top: 10px;  
padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
 float: center; 	
}

button{
 position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: darkred;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background-color: transparent;
    border-style: solid; 
    border-width: 1px; 
    border-color: transparent; 
    width: 400px; 
    border-radius: 10px;	
    height:55px;
    margin-left: 30px;

}
button:hover
{
    color: #255784;
    background: rgba(0, 0, 255, .5);
    box-shadow: 0 0 10px #0000ff, 0 0 40px #0000ff, 0 0 80px #0000ff;
    transition-delay: 1s;
}
button span
{
    position: absolute;
    display: block;
}
button span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#0000ff);
}
button:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
} 
button span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#0000ff);
}
button:hover span:nth-child(2)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
button span:nth-child(3)
{
    top: -100℅;
    right: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#0000ff);
}
button:hover span:nth-child(3)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
button span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(360deg,transparent,#0000ff);
}
button:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

span{
	color: darkorange; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;
	margin-left:60px;
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 10px;
	font-weight: bold;
background: -webkit-linear-gradient(darkred, orange);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


h2{
	font-size: 16px; 
	padding-bottom: 10px;
	color: #0e0e0e;   
}


p1{
	font-size: 14px; 
	color: darkorange;
	font-weight: bold;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
#vivo { background: linear-gradient(to bottom, rgba(252,210,133,1) 0%, rgba(255,55,0,1) 100%); }

/*video de inicio*/
.video video {
 float:left;
 width: 50%;
 margin-top:180px;
 margin-left: 5%;
 box-shadow: 0 0 20px #515dfe;
}
/*resena de inicio*/
.resena {
  background-color:black;
  float:left;
  width:40%;
  padding:16px;
  margin-top:180px;
  margin-left: 8px;
  text-align:center;
}
/*media para el funcionamiendo del responsive*/
@media only screen and (max-width: 620px) {
    .video video{
    width:97%;
    margin-left: 5px;
  }
 
  .resena {
  width:97%;
  height:50%;
  padding:15px;
  margin-top:2px;
  margin-left: 5px;
  text-align:center;
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    position: absolute;
    display: block;
    height: 40px;
    top: 5px;
    right: 20px;
    z-index: 100;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
.partidos {
    width:100%;
    overflow:scroll;
    height: 400px;
  }
  .goles, .asistencias {
    width:45%;
    overflow:scroll;
    height: 200px;
margin-top:0px;

  }
img.tituloresultado{
width:70%;
margin-top:10px;
 }
.logo, .formularioa {
    width:100%;
    margin-left:0%;
    margin-top: 50px;
  }
  .scrollspy-formulario {
    position: relative;
    height: 280px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: darkred #42075c ;
    scrollbar-width: thin;
}
input{
width: 308px; 
}
textarea{
width: 308px; 
}
button{
width: 308px; 
}
}

@media screen and (max-width: 800px) {
  .column {
    flex: 30%;
    max-width: 30%;
  }
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 80%;
}
}
/*pie de la pagina*/
.container-fluid{
	background: #444;
	color:#fff;
	text-align: center;
	padding: 25px;
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
  color:white;
}

#l3{
  float:left
}

.social li {
  font-size: 1.5em;
  padding: 0.5em;
}

 li{
  display:list-item;
  xlist-style:none;
}

#l3 li{
  display: inline;
}

#l3{
  margin-left:1010px;
  margin-top:-15px;
}
/*fin de redes*/


/*fin de botones sociales*/

