
/* Header/redes sociales*/
.header {
padding: 0.9px;
text-align: center;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(black,red);
color: white;
font-size: 10px;
position: fixed;
z-index: 5;
width: 100%;
height: 6%;
}
/*margen y estilo de la pagina*/
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'TransformersMovie';
  background-color: #fff;
  color: #333;
}

/*barra de navegacion*/
.navbar {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(darkred, orange);
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  z-index:10;
  top:4%;
  left: 0;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a.navbar-brand {
  float: left;
  position:absolute;
  top:1%;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
.navbar .navbar-toggler {
  display: none;
}
/*inicio*/
.intro {
  width: 100%;
  height: 100vh;
  background-color: white;
  background: url("https://i.pinimg.com/originals/86/66/85/866685bdd4bbc516ec1a13c956d4d7bf.jpg") no-repeat center center;
  background-size: cover;
}
.container {
  position: relative;
  height: 100vh;
  color: #fff;
  background-size: cover;
  width: 100%;
}
.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}

/*inicio seccion equipo*/
#equipo { background-color: #e34f26; }

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: %; /* IE10 */
  flex: 5%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*fin de seccion*/
/*inicio de estadisticas*/
#estadisticas {  background: url("https://besthqwallpapers.com/Uploads/11-6-2018/55092/thumb2-hexagons-grid-metal-texture-grid-pattern-gray-background.jpg") no-repeat center center;
	  background-size: cover;
	/*background: linear-gradient(to bottom, #131313 0%, #1c1c1c 9%, #2c2c2c 16%, #2b2b2b 24%, #000000 34%, #111111 40%, #474747 57%, #666666 75%, #595959 88%, #4c4c4c 100%);*/
 }
.partidos {
  float:left;
  width:50%;
  padding:0 10px;
  margin-top:20px;
  display: inline-block;
}
.partidos table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid #07145a ;
  border-style: outset;
}

.partidos th {
  text-align: center;
  padding: 8px;
  font-size:12px;
  background-color: #42075c;
}
.partidos td {
  text-align: center;
  padding: 8px;
  font-size:12px;
}

tr:nth-child(even){   font-size:12px;
 text-align: center;
background-color: rgba(170, 174, 193, .5)}
tr:nth-child(odd){   font-size:12px;
 text-align: center;
 background-color: #07145a}
 

.goles {
  float:left;
  width:20%;
  margin-top:10px;
  text-align:center;
  margin-left:10px;
}
.goles table {
  border-style: outset;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 3px solid #07145a ;
  float:left;

}

.goles th  {
  text-align: center;
  padding: 8px;
  background-color: #42075c;
  font-size:12px;

}
.goles td {
  text-align: center;
  padding: 8px;
  font-size:12px;

}

.goles tr:nth-child(even){  text-align: center;
 background-color: rgba(170, 174, 193, .5);  font-size:12px;
}
.goles tr:nth-child(odd){   font-size:12px;
 text-align: center;
 background-color: #07145a}

.asistencias {
  float:left;
  width:20%;
  margin-top:10px;
  text-align:center;
  margin-left:10px;
}
.asistencias table {
  border-style: outset;
  border: 3px solid #07145a ;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  float:left;

}

.asistencias th  {
  text-align: center;
  padding: 5px;
  font-size:12px;
  background-color: #42075c;

}
.asistencias td {
  text-align: center;
  padding: 5px;

}

.asistencias tr:nth-child(even){  text-align: center;
 background-color: rgba(170, 174, 193, .5)}
.asistencias tr:nth-child(odd){  text-align: center;
 background-color: #07145a}

.scrollspy-gol-asis {
    position: relative;
    height: 350px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: yellow darkred;
    scrollbar-width: thin;

}
}
.scrollspy-partido {
    position: relative;
    height: 300px;
    margin-top: .5rem;
    overflow-y: scroll;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: yellow darkred;
    scrollbar-width: thin;
}
/*fin de seccion*/
#noticias { background-color: #333; }
#contacto { background-color: red; }
#vivo { background-color: pink; }

/*video de inicio*/
.video video {
 float:left;
 width: 50%;
 margin-top:150px;
 margin-left: 5%;
 box-shadow: 0 0 20px #515dfe;
}
/*resena de inicio*/
.resena {
  background-color:black;
  float:left;
  width:40%;
  padding:16px;
  margin-top:150px;
  margin-left: 8px;
  text-align:center;

}
/*media para el funcionamiendo del responsive*/
@media only screen and (max-width: 620px) {
    .video video{
    width:97%;
    margin-left: 5px;
  }
 
  .resena {
  width:97%;
  height:50%;
  padding:15px;
  margin-top:2px;
  margin-left: 5px;
  text-align:center;
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    /* height: auto; */
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    position: absolute;
    display: block;
    height: 40px;
    top: 5px;
    right: 20px;
    z-index: 100;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
.partidos {
    width:100%;
    overflow:scroll;
    height: 400px;
  }
  .goles, .asistencias {
    width:50%;
    overflow:scroll;
    height: 200px;

  }
}


/*pie de la pagina*/
.footer{
	background: #444;
	color:#fff;
	text-align: center;
	padding: 10px;
}


/*botones sociales*/

/*fin de botones sociales*/

